.header{
    display: flex;
    background-color: #373c3f;
    color:  rgba(255, 255, 255, 255);;
    width: 100%;
    font-family: 'Montserrat', Courier;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    justify-content: space-between;
    position: relative;
}
.sub-header{
    padding: 12px 0 12px 18px;
    color: #f2f2f2;

}
.header-menu{
    width: 41px;
    height: 37px;
    background-color: #202529;
    border: none;
    outline: none;

}
.menu-toggle{
    position: relative;
    width: 16px;
    height: 11px;
    display: inline-block;
    cursor: pointer;

}
.header-menu-drop{
    display: none;
    border-right: #e1e1e1;
    position: absolute;
    width: 182px;
    right: 0;
    top: 37px;
    background-color: #fafafa;
    
}
.header-menu-drop-items{
    display: block;
    border-bottom: 2px solid #f0f0f0;
    padding:12px 0 5px 14px;
    color: rgba(68, 68, 68, 255);
    font-family: "Lato", sans-serif;
    letter-spacing: 0px;
}
.header-menu-drop-items:last-of-type{
    margin-bottom: 5px;
}
.header-menu-drop-items:hover{
    background-color: #f5f5f5;
}
.line1{
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    left:0;
    top:0;
    border-radius: 2px;
    transition: 1s;
}
.line1:nth-child(2){
    margin-top: 5px;
}
.line1:nth-child(3){
    margin-top: 9px;
    
}
.top-section{
    background-image: url(../img/top-section-bg.png);
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-size: cover;

}
.top-section-slogan{
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 17px 0 0 20px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;  
}
.top-section-slogan:nth-child(2){
    padding: 8px 0  0 20px;
}
.top-section-slogan:nth-child(3){
   color: #8cb2b8;
   padding: 10px 0  94px 20px;
   font-size: 14px;
   letter-spacing: 0; 
}
.links{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;
}
.links-buttons{
    width: 21.9%;
    background-color: #acd8ad;
    text-align: center;
    color: white;
    vertical-align: middle;
    align-self: center;
    padding: 29px 0;
    margin-bottom: 2px;
}
.links-items{
    padding: 27px 0 ;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 78%;
    background-image: url(../img/link-1.png);
    background-size: cover;
    background-position: bottom;
    margin-bottom: 2px;
}
.links-items:nth-last-of-type(2){
    background-image:url(../img/link-2.png)
}
.links-items:nth-last-of-type(1){
    background-image:url(../img/link-3.png);
}
.content-header{
    text-align: left;
    padding-left: 8px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 4px;
    color: rgba(63, 64, 67, 255);
    text-transform: uppercase;

}
.cotent-subheader{
    text-align: left;
    padding-left: 9px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color:  rgba(203, 204, 206, 255);
}
.content-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.content-wrapper-firstPage{
    width: 100%;
}
.content-wrapper-firstPage-header{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: rgba(172, 216, 173, 255);
    text-transform: uppercase;
    background-color: #3f4043;
    width: 100%;
    padding:9px 0 9px 18px;
    letter-spacing: 0.6px;
}
.content-wrapper-secondPage{
width: 100%;
}
.content-wrapper-secondPage .content-wrapper-firstPage-header{
        background-color: #acd8ad;
        color: white;
        margin-top: 23px;
        width: 100%;
}


.content-wrapper-header{
    display: inline-block;
    color: rgba(63, 64, 67, 255);
    font-size: 15px;
    padding: 18px 0 19px 18px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    width: 79%;
    vertical-align: top;
}
.content-wrapper-icon{
    display: inline-block;
    height: 25px;
    width: 14px;
    background-image: url(../img/content-icon2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 14px;
    margin-left: 8px;
}
.content-wrapper-icon:nth-of-type(1){
    background-image: url(../img/content-icon1.png);
    height: 25px;
    width: 25px;
    margin-top: 11px;
    margin-left: 3px;
}
.content-wrapper-secondPage .content-wrapper-icon{
    background-image: url(../img/content-icon4.png);
    width: 20px;
    margin-top: 16px;
    margin-left: 3px;
}
.content-wrapper-secondPage .content-wrapper-icon:nth-of-type(1){
    background-image: url(../img/content-icon3.png);
    width: 28px;
    margin-top: 14px;
    margin-left: 1px;
}
.content-wrapper-topic{
    font-family: 'Lato', Courier;
    font-size: 14px;
    color: rgba(63, 64, 67, 255);
    margin: 0 0 6px 23px;
    letter-spacing: -0.2px;
    display: inline-block;
    width: 74%;
    position: relative;
}
.content-wrapper-topic::before{
position: absolute;
content: "·";
top: 0;
left: -6px;
}

.content-wrapper-amount{
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.content-wrapper-text{
    margin: 0 10px 9px 17px;
    font-size: 10px;
    letter-spacing: -0.4px;
}
.content-wrapper-text:nth-of-type(4){
    margin-bottom: 2px;
}

footer{
    background-color: #acd8ad;
    margin-top: 42px;

}
.footer-text{
    font-size: 12px;
    text-align: center;
    color: white;
    padding: 11px 0 11px;
    line-height: 17px;
    letter-spacing: 0.6px;
}
@media screen and (min-width: 640px) {
    .sub-header{
        font-size: 24px;
        padding: 27px 0 27px 38px;
    }
    .header-menu{
        width: 80px;
        height: 78px;
    }
    .menu-toggle{
        width: 40%;
        height: 20%;    
    }
    .line1{
        height: 20%;
    }
    .line1:nth-child(2){
        margin-top: 30%;    
    }
    .line1:nth-child(3){
        margin-top: 60%;
    }
    .header-menu-drop{
        width: 255px;
        top: 78px;
    }
    .header-menu-drop-items{
        font-size: 14px;
        padding: 15px 20px 15px;
    }
    .top-section-slogan{
        font-size: 36px;
    }
    .top-section-slogan:nth-child(3){
        font-size: 24px;
        padding-bottom: 197px;
    }
    .links{
        margin-bottom: 10%;
    }
    .links-items{
        padding: 59px 0;
        font-size: 36px;
        font-weight: 700;
    }
    .links-buttons{
        padding: 69px 0;
        font-size: 36px;
    }
    .content-header {
    text-align: center;
    font-size: 40px;
    }
    .cotent-subheader{
        padding-left: 21px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .content-wrapper-firstPage-header {
        font-size: 40px;
        padding: 23px 0 23px 37px;
    }
    .content-wrapper-header {
        font-size: 30px;
        padding-left: 35px;
    }
    .content-wrapper-icon:nth-of-type(1){
        height: 49px;
        width: 49px;
    }
    .content-wrapper-icon{
        width: 27px;
        height: 48px;
    }
    .content-wrapper-topic {
        font-size: 27px;
        margin-left: 42px;
        padding-left: 7px;
        margin-top: 18px;
    }
    .content-wrapper-amount{
        font-weight: 700;
        font-size: 27px;
    }
    .content-wrapper-text{
        font-size: 18px;
        margin-left: 35px;
        margin-top: 16px;
    }
    .content-wrapper-secondPage .content-wrapper-icon:nth-of-type(1){
        width: 61px;
        height: 42px;
    }
    .content-wrapper-secondPage .content-wrapper-icon{
        width: 43px;
        height: 42px;
    }
    .footer{
        margin-top: 117px;
    }
    .footer-text{
        font-size: 18px;
        padding: 28px 0 23px;
        line-height: 26px;
    }
    
}
@media screen and (min-width: 980px) {
    .sub-header{
        display: none;
    }
    .menu-toggle{
        display: none;
    }
    .header-menu{
        background-image: url(../img/logo.png);
        width: 104px;
        height: 83px;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #373c3f;
        margin-right: 33px;
    }
    .header-menu-drop{
        display: flex;
        width: 63%;
        padding: 23px 0 8px 30px;
        position: relative;
        right: 0;
        top: 0;
        left: 0;
        background-color: #373c3f;
    }
    .header-menu-drop-items{
        border-bottom: none;
        color: #ffffff;
        text-transform: uppercase;
    }
    .header-menu-drop-items:hover{
        background-color: #16181a;
    }
    .top-section-slogan{
        font-size: 50px;
        padding-bottom: 20px;
        padding-top: 40px;

    }
    .top-section-slogan:nth-child(3){
        margin-top: 40px;
        font-size: 34px;
        padding-bottom: 260px;
        color: #a6d6e0;
    }
    .links{
        position: relative;
    }
    .links-items{
        width: 33.3%;
        padding: 150px 0;
    }
    .links-buttons{
        position: absolute;
        left: 0;
        top: 0;
        width: 33.3%;
        height: 99%;
        background-color: green;
        padding: 0;
        opacity: 0;
        cursor: pointer;
    }.links-buttons:nth-of-type(2){
        left: 33.3%;
    }.links-buttons:nth-of-type(3){
        left: 66.6%;
    }


    .content-header{
        text-align: left;
        margin-left: 30px;
        position: relative;
    }
    .content-header::after{
        position: absolute;
        right: 35px;
        top: -15px;
        content: url(../img/Menu-logo.png)
    }
    .cotent-subheader{
        margin-left: 20px;
    }
    .content-wrapper{
        flex-wrap: nowrap;
    }
    .content-wrapper-firstPage{
        width: 49.5%;
        box-sizing: border-box;
    }
    .content-wrapper-secondPage{
        width: 49.5%;
        box-sizing: border-box;
    }
    .content-wrapper-firstPage-header{
        padding-left: 15px;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .content-wrapper-secondPage .content-wrapper-firstPage-header{
        margin-top: 0;
        padding-left: 15px;
        font-size: 30px;
        margin-bottom: 30px;
        width: 99%;
    }
    .content-wrapper-header{
        font-size: 25px;
        width: 78%;
    }
    .content-wrapper-topic{
        width: 73%;
        font-size: 23px;
    }
    .content-wrapper-amount{
        font-size: 23px;
    }
    .content-wrapper-text{
        font-size:16px;
    }
    .footer-text br{
        display: none;
    }
    .footer-text{
        text-align: right;
        margin-right: 5%;
        position: relative;
        padding: 34px 0;
    }
    .footer-text::before{
        position: absolute;
        left: 25px;
        top: 4px;
        content: url(../img/logo.png)
    }
    
}
@media screen and (min-width: 1200px){
    .container{
        margin: 0 auto;
        width: 1200px;
    }
}