table {
    margin: 0 auto;
}

.white {
    background-color: #fff;
    width: 50px;
    height: 50px;
}

.clicked-data {
    background-color: #000;
}

.clicked-table .white.clicked-data {
    background-color: #fff;
}

.clicked-table .white {
    background-color: #000;
}